Repository 99ulling/99ulling, pull requests merged in 2023-01, with the labels that each got.

#31 Be/feat/v2 : api version 2
  backend/demo/src/main/java/com/ggulling/DemoApplication.java
  backend/demo/src/main/java/com/ggulling/auth/AuthController.java
  backend/demo/src/main/java/com/ggulling/auth/AuthService.java
  backend/demo/src/main/java/com/ggulling/auth/dto/response/SignUpByNicknameResponse.java
  backend/demo/src/main/java/com/ggulling/farm/Farm.java
  backend/demo/src/main/java/com/ggulling/farm/FarmController.java
  backend/demo/src/main/java/com/ggulling/farm/FarmService.java
  backend/demo/src/main/java/com/ggulling/farm/SearchFarmByRangeRequest.java
  backend/demo/src/main/java/com/ggulling/farm/SearchFarmByRangeResponse.java
  backend/demo/src/main/java/com/ggulling/history/History.java
  backend/demo/src/main/java/com/ggulling/history/HistoryController.java
  backend/demo/src/main/java/com/ggulling/history/HistoryRepository.java
  backend/demo/src/main/java/com/ggulling/sharing/CompleteSharingResponse.java
  backend/demo/src/main/java/com/ggulling/sharing/SharingByNicknameResponse.java
  backend/demo/src/main/java/com/ggulling/sharing/SharingController.java
  backend/demo/src/main/java/com/ggulling/sharing/SharingGgulRequest.java
  backend/demo/src/main/java/com/ggulling/sharing/SharingService.java
  backend/demo/src/main/java/com/ggulling/sharing/Status.java
  backend/demo/src/main/java/com/ggulling/user/User.java
  backend/demo/src/main/java/com/ggulling/user/UserRepository.java
Labels: status: dependent

#33 frontend: 메인페이지 리뉴얼
  frontend/src/App.tsx
  frontend/src/atom/atom.ts
  frontend/src/components/Back.tsx
  frontend/src/globalStyles.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Sharing.tsx
  frontend/src/pages/TypeChoice.tsx
  frontend/src/pages/farmer/FarmerNameSetting.tsx
  frontend/src/pages/farmer/FarmerSharing.tsx
  frontend/src/pages/farmer/FarmerUpload.tsx
  frontend/src/pages/index.ts
  frontend/src/pages/user/LocationLevel.tsx
  frontend/src/pages/user/UserConfirm.tsx
  frontend/src/pages/user/UserNameSetting.tsx
Labels: enhancement

#35 frontend: 귤줍이 파트 리뉴얼 ver2
  frontend/package-lock.json
  frontend/public/subset-BazziOTFRegular.woff2
  frontend/src/App.tsx
  frontend/src/api/api.ts
  frontend/src/assets/css/font.css
  frontend/src/components/BorderData.tsx
  frontend/src/components/DefaultButton.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Loading.tsx
  frontend/src/globalStyles.tsx
  frontend/src/interface/index.ts
  frontend/src/pages/AppCompleted.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/Sharing.tsx
  frontend/src/pages/farmer/FarmAppCompleted.tsx
  frontend/src/pages/farmer/FarmerUpload.tsx
  frontend/src/pages/user/LocationLevel.tsx
  frontend/src/pages/user/SharingRequest.tsx
  frontend/src/pages/user/UserConfirm.tsx
Labels: enhancement, status: dependent

#36 Frontend : 귤줍이 파트 ver2 리뉴얼
  frontend/package-lock.json
  frontend/public/subset-BazziOTFRegular.woff2
  frontend/src/App.tsx
  frontend/src/api/api.ts
  frontend/src/assets/css/font.css
  frontend/src/components/BorderData.tsx
  frontend/src/components/DefaultButton.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Loading.tsx
  frontend/src/globalStyles.tsx
  frontend/src/interface/index.ts
  frontend/src/pages/AppCompleted.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/Sharing.tsx
  frontend/src/pages/farmer/FarmAppCompleted.tsx
  frontend/src/pages/farmer/FarmerUpload.tsx
  frontend/src/pages/user/LocationLevel.tsx
  frontend/src/pages/user/SharingRequest.tsx
  frontend/src/pages/user/UserConfirm.tsx
Labels: enhancement

#37 kakao map 개발
  frontend/public/marker.png
  frontend/src/api/api.ts
  frontend/src/atom/atom.ts
  frontend/src/components/Map.tsx
  frontend/src/env.d.ts
  frontend/src/pages/Sharing.tsx
  frontend/src/pages/user/LocationLevel.tsx
Labels: enhancement, status: dependent

#40 github action
  frontend/.github/workflows/production.yaml
  frontend/.gitignore
Labels: enhancement

#41 github frontend action
  .github/workflows/frontend-production.yaml
  .gitignore
Labels: enhancement

#42 fix: frontend github action path
  .github/workflows/frontend-production.yaml
Labels: enhancement

#43 Frontend: custom hook and type checking
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useToggle.ts
  frontend/src/interface/index.ts
  frontend/src/main.tsx
  frontend/src/pages/MyPage.tsx
  frontend/src/pages/ReservationConfirm.tsx
  frontend/src/pages/TypeChoice.tsx
Labels: enhancement
